<div ng-app="myCalculatorApp" ng-controller="myCalculatorCtrl">
<table class="myCalculator">
<tr>
<td>
<table class="myBigScreen">
<tr>
	<td class="myExpression">{{ expression }}</td>
</tr>
<tr>
	<td class="myResult">{{ expressionResult }}</td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table>
<tr>
<td>
	<table>
	<tr ng-repeat="x in leftButtons">
		<td ng-repeat="y in x"><button ng-click="pressLeftButton(y)" class="myLeftButton">{{ y }}</button></td>
	</tr>
	</table>
</td>
<td>
	<table>
	<tr ng-repeat="x in rightButtons">
		<td><button ng-click="pressRightButton(x)" class="myRightButton">{{ x }}</button></td>
	</tr>
	</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

<script src="assets/myCalculatorCtrl.js"></script>

